.date {
    padding: inherit;
    width: 125px;
    float: inherit;
    
  }

.time {
    margin-top: 4px;
    text-align: center;
    color: #736e6e;
    float: inherit;
    width: 40px;
    height: 38px;
}

.div{
    padding-top: 1%;
    width: 450px;
    float: left;
}

.text{
    padding: inherit;
    float: inherit;
    padding: 1%;
    font-size: 19px;
}
.button{
    margin-left: 2%;
}